{% extends "Frontend/template.twig" %}

{% block head_title %}
    Chapitre1
{% endblock %}
{% block content %}
<section class="postsContainer container-fluid mt-5 pt-5">
    <div class="offset-2 col-8 border border-dark py-5">

    </div>
</section>
{% endblock %}
