{% extends "Frontend/template.twig" %}

{% block head_title %}
    Contact
{% endblock %}
{% block content %}
    <div id='contactSuccessPage'>
        <div class="alert alert-success offset-2 col-8" role='alert'>
            Votre message a été envoyé avec succés!
        </div>
    </div>
{% endblock %}
