<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Politique de confidentialité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mentions légales</a>
    </li>
</ul>