

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand mr-5" href='/?page=Accueil&method=display'>Jean Forteroche Blog</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavId">
        <ul class="navbar-nav mr-0 ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/?page=Accueil&method=display">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chapitres</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/?page=chapitre1&method=display">Chapitre 1</a>
                    <a class="dropdown-item" href="/?page=chapitre2&method=display">Chapitre 2</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-nowrap" href="/?page=author&method=display">A propos de l'auteur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?page=contact&method=display">Contact</a>
            </li>
        </ul>
    </div>
</nav>