footer a {
    color: black;
}

.webSitePresentation {
    background-image: url('/public/images/paysage_accueil.jpg'); 
    background-size: 100% 100%;
    height: 500px;
    margin-top: 55px;
}
.booktitle {
    text-align: center;
    font-weight: bolder;
    color: rgb(43, 5, 61);
}
.webSiteDescription p {
    background-color: rgba(15, 15, 15, 0.5);
    text-align: center;
    color: white;
    font-size: 1.3em;
}

.webSiteDescription span {
    color: rgba(13, 241, 245, 0.8)

}

.card-img-top {
    height: 400px;
}

.card_update {
    background-color: rgba(13, 241, 245, 0.05)
}

.previous, .next {
    width: 150px;
}

#add_comment label {
    color: black;
}

.fa-exclamation-circle {
    color:red;
}

.authorDescription {
    background-image: url('/public/images/book.jpg');
    background-size: 100% 100%;
    height: 600px;
}

.authorDescription h2 {
    color: rgb(11, 147, 142)
}
 .authorDescription .media-body {
     background-color: rgba(0, 0, 0, 0.5);
     margin-top: 5%;
 }

.feather {
    width: 15%;
}

.authorDescription p {
    font-size: 1.2em;
    color: white;
}

#contactPage {
    margin: 0;
    background-image: url('/public/images/paysage.jpg');
    background-size: 100% 100%;
}

form label {
    color: white;
    font-weight: 700;
}

.invalid-feedback {
    font-size: 1em;
}

.adminDashboard p {
    font-size:1.2em;
    text-align: left;
}

.adminDashboard .badge {
    font-size: 1.1em;
}

.adminDashboard .card-body {
    padding-bottom: 0;
}

.card-body-icon {
    position: absolute;
    right: 0.2em;
    top: -0.3em;
    font-size: 5rem;
    opacity: 0.5;
}

.secondary-icon {
    position: absolute;
    right: 1.9em;
    top: 0em;
    font-size: 2rem;
    opacity: 0.9;
    color: red;
}

#addArticleForm label, #updateArticleForm label {
    color: black;
}
.card-img {
    height: 200px;
}

#toModerateList p {
    font-size: 1.5em
}

#commentContainer {
    border-width: 3px !important
}