.authorDescription {
    background-image: url('/public/images/book.jpg');
    background-size: 100% 100%;
    height: 600px;
}

.authorDescription h2 {
    color: rgb(113, 5, 81)
}

.feather {
    width: 25%;
}

.authorDescription p {
    font-size: 1.3em;
}