{% extends "Frontend/Templates/template.twig" %}

{% block head_title %}
    Auteur
{% endblock %}

{% block content %}
    <div class="authorDescription media mt-5 py-3">
        <div class="media-body mx-sm-5">
            <h2 class="text-center text-info">A propos de l'auteur</h2>
            <img src="/public/images/plume.png" class="feather col-3 float-left mr-3" alt="Image de l'auteur">
            <p class="offset-1 text-justify mx-md-5 mx-sm-3 mx-2">
                Je suis né à Saint-Jean-de-Luz, une petite station balnéaire du Pays Basque le 29 Janvier 1962. Je me suis très vite passionné pour mon environnement, la forêt, la montagne, la mer
                ont été pour moi les grands artisants de ma jeunesse et de mon évolution au sein de ce monde. Les livres aussi ont pris une grande part dans ma vie. Les romans d'aventure principalement. 
            </br>C'est tout cela qui m'a poussé à devenir écrivain et à partir à l'aventure afin de découvrir les merveilles de ce monde. Après plusieurs romans de voyages, j'ai écrit quelques essais sur 
                la problématique écologique. Après tout mes voyages et toutes les choses magnifiques mais aussi terrifiantes que j'ai pu voir, je ne pouvais que m'engager sur le débat écologique. 
            </br>Mon prochain roman, que vous allez découvrir via ce blog, reprendra un peu tout les éléments de ma carrière. Vous pourrez y découvrir un mélange de roman de voyage et d'aventure
            avec une reflexion écologique et un questionnement sur l'avenir de l'humanité et de notre planète. 
            </br>J'espère que vous apprecierez ce que vous lirez ici. et j'espère aussi pouvoir, tout au long des chapitres pouvoir débattre avec vous de toutes ces question. 
            </p>
            <p class="float-right mx-md-5 mx-sm-3 mx-2 pb-2">Bonne lecture !</p>
        </div>
    </div>
{% endblock %}
