{% extends "Frontend/Templates/template.twig" %}

{% block head_title %}
    Contact
{% endblock %}

{% block content %}
    <div id='contactPage' class='pb-5'>
        <form action='/contact/contactSuccess' method="POST" class="offset-lg-3 col-lg-6 offset-1 col-10 mt-5 pt-2">
            <div class="form-group contactName">
                <label for="name">Nom*</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Bond" required>
            </div>
            <div class="form-group">
                <label for="firstname">Prénom*</label>
                <input type="firstname" class="form-control contactFirstname" id="firstname" name="firstname" placeholder="James" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control contactEmail" id="email"name="email" placeholder="jamesbond007@exemple.com" required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
            </div>
            <div class="form-group">
                <label for="subject">Objet</label>
                <input type="subject" class="form-control " id="subject" name="subject" placeholder="Top secret">
            </div>
            <div class="form-group">
                <label for="message">Message*</label>
                <textarea class="form-control contactMessage" id="message" name="message" rows="7" placeholder="My name is Bond, James Bond!" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">Envoyer</button>
        </form>
    </div>
{% endblock %}
