<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>Erreur 404 - page introuvable</title>
    </head>

    <body>
        <header>
            <h1>Erreur 404 - Page introuvable</h1>
        </header>
        <p>Une erreur est survenue: {{ message }}</p>
        <a href='/blog/home'>Retourner à la page d'accueil</a>
    </body>
</html>