{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="adminHome pt-5 mt-5 ml-2">
        <h3>Bonjour {{ admin }} !</h3>
        <p class="text-success">{{ addSuccess }}</p>
    </div>
{% endblock %}