{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="adminHome ml-2">
        <h3>Bonjour {{ admin }} !</h3>

    </div>
{% endblock %}